html{
  background-color: rgb(212, 201, 186);
}


.App {
  width: 100vw;
  margin-inline:auto ;
 }
 .container{
   margin-inline: auto;
   width: 700px;

   .list-wrapper{
    margin-top: 30px;
  }
 }
 
.center{
  align-items: center;
}



.wrap{
  flex-direction: column;
}
.flex{
  display: flex;
}
.marign-right-10{
  margin-right: 10px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}
 
.active{
  color: red;
}

.thick{
  display: inline-block;
  font-weight: bolder;
  color: rgb(125, 18, 100);
}

// .nav{
//   background-color: red;
// }

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
